@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background: #111;
    color: #eee;
}

.wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    scroll-snap-type: y mandatory;
}

.slide {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.legend {
    font-size: 2vw;
    line-height: 1.3em;
    padding: 1em;
}

p {
    margin: 0;
    margin-bottom: 0.3em;
}

@media screen and (orientation:landscape) {
    .slide img {
        height: 100vh;
        width: 75vw;
        object-fit: cover;
    }

    .legend {
        position: absolute;
        left: 75vw;
        top: 0;
    }
}

@media screen and (orientation:portrait) {
    .slide img {
        display: none;
    }
}
